apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration
certificateKey: "{{ hostvars.localhost.certificate_key }}"
bootstrapTokens:
  - token: "{{ hostvars.localhost.bootstrap_token }}"

---
apiVersion: kubeadm.k8s.io/v1beta4
kind: JoinConfiguration
discovery:
  bootstrapToken:
    token: "{{ hostvars.localhost.bootstrap_token }}"
    apiServerEndpoint: "{{ controlplane_vip }}:6443"
    caCertHashes:
      - "{{ hostvars.localhost.discovery_token_ca_cert_hash }}"
controlPlane:
  certificateKey: "{{ hostvars.localhost.certificate_key }}"

---
apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
etcd:
  local:
networking:
  # 172.16.0.0/12 is reserved for private networks
  serviceSubnet: "172.23.0.0/16"
  podSubnet: "172.19.0.0/16"
  dnsDomain: "cluster.local"
controlPlaneEndpoint: {{ controlplane_vip }}:6443
